
@{
    ViewBag.Title = "UserLogin";
}

    <div class="content">
        <h3 style="text-align:center">Member Login</h3>
        <p>Email Address</p>
        <p>
            @(Html.Kendo().TextBox()
                .Name("txtUserName")
                .HtmlAttributes(new { style = "width:325px;" })
            )
        </p>
        <p>Password</p>
        <p>
            @(Html.Kendo().TextBox()
                .Name("txtPassword")
                .HtmlAttributes(new { style = "width:325px;" })
            )
        </p>
        <p>
            @Html.ActionLink("I Forgot My Password", "ForgotPassword", "Login")
        </p>

        <p>
            @(Html.Kendo().Button()
                .Name("btnSubmit")
                .Content("Submit")
                .HtmlAttributes(new { @class= "btn btn-primary"})
                .Events(ev => ev.Click("btnSubmit_Click"))
                )

        </p>

    </div>

<style>
    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%,-50%);
        /*border: 1px solid blue;*/
        padding: 10px;
        width: 350px;
       
    }
</style>

<script>
    function btnSubmit_Click() {

        // Get the values from the UserName and Password textboxes
        var userName = $('#txtUserName').val();
        var passWord = $('#txtPassword').val();

        // Check for blank User Name
        if (userName == '') {
            alert("User Name cannot be blank!");
            $('#txtUserName').focus();
            return;
        }

        // Check for blank Password
        if (passWord == '') {
            alert("Password cannot be blank!");
            $('#txtPassword').focus();
            return;
        }

    }
</script>

