@*<div class="alignleft">Welcome @ViewBag.UserFullName</div>
<div class="alignright">@ViewBag.ChapterName</div>
<div style="clear: both;"></div>*@

<hr />

<div id="adminMainMenu">
    @(Html.Kendo().Menu()
        .Name("adminMainMenu")
        .Items(items =>
        {
            items.Add()
                .Text("Calendar").Action("Calendar", "User", new { area = "" });
            items.Add()
                .Text("Member List");

        })
    )
</div>
